body 
{ 
    background-color: rgb(61, 212, 223);
}
h1 
{ 
    background-color: green;
}
h2 
{ 
    background-color: red;
}
p 
{ 
    background-color: brown;
}
ol 
{
     list-style-type: upper-roman;
}
ul 
{ 
    list-style-type: circle;
}